# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# ChromaDB
chroma_db/

# Output files
output/

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py
